

body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(85, 42, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(140, 20, 210);
}


section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 200px;
  }


  
  
  .MARíliAMENDONÇA {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
 
/* código omitido */

  .ZÉNETOECRISTIANO {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  h3 {
    font-size: 30px;
  }
  

  /* código omitido */
